[2019-08-08 02:57] zgramming opened #1 "Using Method"
i'm using method like this,

`Future<Map<String, dynamic>> deleteForJson(String url,
      {Map<String, String> queryParameters,
      Map<String, String> headers}) async {
Map<String, dynamic> response = await HttpUtils.deleteForJson(url,
        queryParameters: queryParameters, headers: headers);
    Map responseJson = json.decode(response);
    print(responseJson);
    return responseJson;
}`

[2019-08-08 07:17] Ephenodrom commented on #1
Hello,

On which line do you get the error ?
For me it looks like your API does not return a proper json.

Try something like this and check the output :

[code]

# Additional Information :

You can shorten your method that you posted, you don't need to call json.decode();

[code]

[2019-08-08 13:43] zgramming commented on #1
Hello thank's for reply,  i try your code like this :
`Future<Map<String, dynamic>> deleteForJson(String url, {Map<String, String> queryParameters, Map<String, String> headers}) async {
    Map<String, dynamic> response = await HttpUtils.deleteForJson(url, queryParameters: queryParameters, headers: headers);
    print(response);
    return response;
}`
But Getting Error : Exception has occurred.Ht

[2019-08-08 14:08] Ephenodrom commented on #1
The exception only occures, if the status code received in the response is greater than 299. That means that your API delivers an error.

try this :

Update to the latest version 1.6.0 and change the code like this.

[code]

Check the output for the status code.

[2019-08-08 15:41] zgramming commented on #1
I'm already try delete data using POSTMAN and this work but must have **body** , but delete function in dart dont have **Body** for delete it, only have **Header**. How can i fix this ?
<img width="960" alt="2019-08-08 (1)" src="https://user-images.githubusercontent.com/38829404/62717155-935ab200-ba2d-11e9-9f7b-14a01715fefe.png">

[2019-08-08 18:28] Ephenodrom commented on #1
Ah ok now it makes sense.
But you have to change your API.

As mentioned in this RFC(https://tools.ietf.org/html/rfc7231#section-4.3.5) , a DELETE request should not have a body.

Two solutions :
1) Change your API to accept a POST request for this route and use the postForJson method of the HttpUtils.
2) Change your API to use the ID passed in the url to delete the entity.

Additional Information

[2019-08-09 00:30] zgramming commented on #1
Can you tell me how to implement solution you give? I'm stuck in this delete operation .
So for deleting data i must use post instead of delete or what?
Thank's.

[2019-08-09 08:50] Ephenodrom commented on #1
Change your API so the Request **DELETE http://192.168.43.159/wpu-rest-server/apii/mahasiswa/delete/101** will trigger your delete function in the API.

The function has to grab the ID from the url and process the delete with the ID. You can test this within postman. I don't know your API, so I can't tell you how to change your API.

After that is done, you can use HttpUtils.deleteForJson() method

[2019-08-11 17:50] #1 closed

[2019-08-16 18:54] rochapablo opened #2 "HttpUtils.addQueryParameterToUrl not working"
I have the follow code:

[code]

But for some reason, nothing happens. But if I use only the second line `var url = '$baseUrl/$action'` it works.

Could I be missing something?

[code]

[code]

[2019-08-16 19:10] Ephenodrom commented on #2
Hello,

I will investigate this issue tomorrow. How does your map look like?

Regards

[2019-08-19 07:37] Ephenodrom commented on #2
No feedback so far...

I updated the unit test, everything works as intended.

[code]

[2019-08-19 07:37] #2 closed

[2019-08-19 10:23] rochapablo commented on #2
Sorry for the delay.

I probably am doing something wrong, just don't know what.

Here's the map

[code]

[code]

[2019-08-30 18:17] Ephenodrom opened #3 "Add php strtotime equivalent"
Add strtotime equivalent that supports the following kind of strings:
* now :heavy_check_mark:
* yesterday :heavy_check_mark:
* tomorrow :heavy_check_mark:
* +1 year 2 months 3 weeks :heavy_check_mark:
* -1 year 2 months 3 weeks :heavy_check_mark:
* 2 weeks ago :heavy_check_mark:
* last friday :heavy_check_mark:
* next friday / at 2 pm / 14:00:00 / hours 14 :heavy_check_mark:
* 10 December 2018 :h

[2019-08-31 17:40] krista-koivisto commented on #3
I'm really looking forward to this one. It will be really useful for parsing user-entered strings (particularly from voice recognition.) One more suggestion I would have if and when you have time is handling of am/pm strings.

2 pm ( = 14:00:00 today)
04.37 pm ( = 16:37:00 today)
9:05:42 am ( = 09:05:42 today)

And also a combination of time and date like that. Like "2 pm next Monday" for example.

[2019-09-02 20:11] Ephenodrom commented on #3
Added DateUtils and unit tests with version 1.9.0. Version is already available via pub.dev. Will update the method to allow more strings in the future.

   Supported strings at the moment:
   * now
   * + 1 year|y 2 month|m 3 weeks|w 4 hours|h 5 minutes|m 6 seconds|s
   * - 1 year|y 2 month|m 3 weeks|w 4 hours|h 5 minutes|m 6 seconds|s
   * yesterday (at 1 pm|1 hour|13:00:00)
   * tomorrow (at 1

[2019-09-02 20:11] #3 closed

[2019-11-24 12:31] modulovalue opened #5 "isDigit exception on empty string"
Hey :)

Thanks for the great package!

I found a tiny bug
[code]
You're taking the first element of the runes from an empty String which leads to an exception.

[2019-11-24 12:41] modulovalue opened #6 ""www." crashes with isDomainName at DomainUtils._getLeftPart"
"www." crashes with isDomainName at DomainUtils._getLeftPart

[2019-11-25 07:28] Ephenodrom commented on #5
Hello @modulovalue

The bug is fixed with version 2.3.5. Already updated it on pub.dev.

It will return false if the given string s is empty.

Regards and thanks for using this package.

[2019-11-25 07:28] #5 closed

[2019-11-25 07:29] Ephenodrom commented on #6
Hello @modulovalue

The bug is fixed with version 2.3.5. Already updated it on pub.dev.

I now check if the given domain name starts with "*." ( commonly used if you have a wildcard certificate ) or the given string is a subdomain ( the www. case ). if one of these two conditions matches, i will return false.

Regards and thanks for using this package.

[2019-11-25 07:29] #6 closed

[2019-11-25 16:11] modulovalue commented on #6
@Ephenodrom are you sure that it was fixed?

I get
[code]

at
[code]
on 2.3.5

for the input "www."

[2019-11-25 16:42] Ephenodrom commented on #6
@modulovalue
Ah i see, i was thinking of a domainname that starts with "www." like "www.domain.de".
Fix it now with version 2.3.6 and released it on pub.dev.

If there are any other issues feel free to open an issue :).

Regards

[2019-11-25 17:14] modulovalue opened #7 "".." crash"
Thank you for the fast fix with the last issue!

Unfortunately, I've found another edge-case

[code]

at
[code]
for the input ".." (just two consecutive dots)

Thanks

[2019-11-25 19:42] Ephenodrom commented on #7
@modulovalue

This is fixed with version 2.3.7. I already published it to pub.dev.

Feel free to check some other methods :).

Regards

[2019-11-25 19:42] #7 closed

[2019-11-25 23:13] sureshg opened #8 "IP Subject Alternative Name (SAN) is not parsed properly."
I have an X509 cert with IP addresses in the SAN. Ideally, SAN can support the following types of data
 * DNS
 * IP
 * URI
 * Email
 * RID
  * DirName
  * OtherName

Except for IP address, everything can be converted to string type (i might be wrong here). But for IP address, the `X509Utils.x509CertificateFromPem(res.certificate.pem).subjectAlternativNames` returns a malformed string.  I had to ex

[2019-11-26 11:00] Ephenodrom commented on #8
@sureshg

Thank you for opening the issue. Unfortunately, I can't reconstruct the problem. I created a self signed certificate with 2 sans. One is a dns name and the other is an IPv4 address. Both of them are parsed correctly.

You can try it with this certificate or check out the Unit test I added for this case.

[code]

Can you tell me the certificate that caused this error?

[2019-11-28 11:07] Ephenodrom commented on #8
No response from the author of the issue.

[2019-11-28 11:07] #8 closed

[2019-11-28 17:40] sureshg commented on #8
Could you try this one - https://github.com/sureshg/dart-native-sample/blob/master/lib/certs/cert.pem ?

[2019-11-29 09:36] Ephenodrom commented on #8
Hello @sureshg
I see that the two ip addresses are written as the following bytes in the certificate :

- 87 04 7F 00 00 01
- 87 04 00 00 00 00

The 87 is the tag, 04 is the length of the value. You can check this out at <https://lapo.it/asn1js/>

The strange thing is, that i find no information about this tag. Also the official RFC at <https://tools.ietf.org/html/rfc3641>  does not contain inform

[2019-12-02 08:37] sureshg commented on #8
I used https://certificatetools.com/ to generate a cert. By the way, thanks for the fix. I will check it.

[2020-02-16 14:19] certaintls opened #9 "RangeError was thrown: Value not in range"
When I was decoding this certificate, I ran into the error below:

[code]

The PEM string is below:

[code]

The data in text format is:
[code]

ASN.1 JavaScript decoder of this certificate is at http://lapo.it/asn1js/#MIIClDCCAhqgAwIBAgIILCmcWxbtBZUwCgYIKoZIzj0EAwIwfzELMAkGA1UEBhMCVVMxDjAMBgNVBAgMBVRleGFzMRAwDgYDVQQHDAdIb3VzdG9uMRgwFgYDVQQKDA9TU0wgQ29ycG9yYXRpb24xNDAyBgNVBAMMK1NTTC5jb20gRVYgUm9vd

[2020-02-16 14:36] Ephenodrom commented on #9
Hello @certaintls ,
Thanks for the issue, this seems to be a bug in the ASN1 Package I use in my package. Will look into it tomorrow and try to fix it in the ASN1 Package ( https://github.com/wstrange/asn1lib ).

Will give feedback when I have more information.

Regards

[2020-02-17 08:47] Ephenodrom commented on #9
Hello @certaintls
I found the bug. The error comes from parsing the public key information. I fixed it with version 2.4.9. Please update and give me some feedback :).

Please use the package to test more PEM String, due to I could not test all possible certificates, there might still be some other problems. There are also a lot of ObjectIdentifier missing in the ASN1 package. The OID "ecdsa-with-S

[2020-02-17 19:40] certaintls opened #10 "The following ASN1Exception object was thrown building Instance of 'ASN1Exception'"
When I was decoding this certificate, I ran into the error below:
[code]

The PEM string is below:
[code]
The data in text format is:
[code]
ASN.1 JavaScript decoder of this certificate is at
http://lapo.it/asn1js/#MIIEAzCCAuugAwIBAgIQVID5oHPtPwBMyonY43HmSjANBgkqhkiG9w0BAQUFADB1MQswCQYDVQQGEwJFRTEiMCAGA1UECgwZQVMgU2VydGlmaXRzZWVyaW1pc2tlc2t1czEoMCYGA1UEAwwfRUUgQ2VydGlmaWNhdGlvbiBDZW50cmUgUm9vdCBDQ

[2020-02-17 19:41] certaintls commented on #9
@Ephenodrom Thanks a lot for the fix! I can confirm it is working. I opened another one https://github.com/Ephenodrom/Dart-Basic-Utils/issues/10 although, I am not sure if it belongs to upstream or this project.

[2020-02-17 19:41] #9 closed

[2020-02-17 20:54] Ephenodrom commented on #10
Hello @certaintls
The problem seems to be the NotAfter and NotBefore date. Normally this seems to be an UTC DateTime, but in this PEM it is a GeneralizedTime. The ASN1 package can't handle this type at the moment, will try to implement this the next days.

Regards

[2020-02-18 07:30] certaintls opened #11 "`ASN1Sequence` is not a subtype of type `ASN1Integer` in type cast"
When I was decoding this certificate, I ran into the error below:

[code]

The PEM string is below:
[code]

The data in text format is:
[code]

[2020-02-18 13:00] Ephenodrom commented on #10
@certaintls
Please update to version 2.5.0. This should be now fixed.

Regards

[2020-02-18 13:01] Ephenodrom commented on #11
@certaintls
Then problem was that, there is no version information in the PEM. After checking the rfc again, it mentioned that if there is nor version information in the PEM you should handle it as version 1.
I updated the **x509CertificateFromPem()** to handle this case.

Please update to version 2.5.0. This should be now fixed.

Regards

[2020-02-18 19:27] certaintls commented on #11
I can confirm this is fixed! Much appreciate the work and speed!

[2020-02-18 19:27] #11 closed

[2020-02-18 19:33] certaintls commented on #10
2.5.0 fixed the error on the certificate that I reported above, but the similar/same error is still thrown on a different certificate below:

[code]

[code]

@Ephenodrom Would you mind taking another look?

[2020-02-19 09:32] Ephenodrom commented on #10
@certaintls This PEM contains a TeletextString ( ASN1 Tag 20 ). The ASN1 package can't handle this at the moment. Will implement this, the next days.

[2020-02-20 08:32] Ephenodrom commented on #10
@certaintls I updated the asn1lib package and my package. Please update to 2.5.1 and it should be fixed now.

Please give feedback if it is fixed.

[2020-02-21 19:32] certaintls commented on #10
I confirm 2.5.1 fixed the second bug in this issue. Thanks again!

[2020-02-21 19:32] #10 closed

[2020-02-24 07:24] certaintls opened #12 "Provide a SPKI field"
Comparing the hash of a certificate SubjectPublicKeyInfo is the best practice to tell if two certs have the same key, more information on  https://www.imperialviolet.org/2011/05/04/pinning.html .

Can we please add a field SPKI, so something like `hash(data.subject['SPKI'])` can easily offer user/developer the capability to compare keys if they need to.

[2020-02-24 10:38] Ephenodrom commented on #12
@certaintls
Do you need a md5 hash ? The **X509CertificatePublicKeyData** model already conaints a **sha1Thumbprint** field. Should I add the md5 thumbprint ?

[2020-02-24 12:19] certaintls commented on #12
I am not sure exactly what are you referring to, I don't see the two things below:

https://github.com/Ephenodrom/Dart-Basic-Utils/blob/1d4230fb89d8f2e1abcf78c1f94407e07ec3995a/lib/src/X509Utils.dart#L27-L69

I was talking about quick access to this section, see screenshot below:
![image](https://user-images.githubusercontent.com/59906029/75151774-76c06600-5742-11ea-9c33-a8600118502f.png)

I follo

[2020-02-24 12:40] Ephenodrom commented on #12
@certaintls
When you call the **x509CertificateFromPem()** method of the **X509Utils** you will receive a **X509CertificateData** model. This model holds a field **publicKeyData**. This field is a **X509CertificatePublicKeyData** model and represents the "_Subject Public Key Info_".

Check out this example :

[code]

So the only thing missing is a sha256 thumbprint on the X509CertificatePublicKeyD

[2020-02-24 14:18] certaintls commented on #12
Thanks for the example, I did a test on this cert

[code]

and I have:

[code]
It seems `publicKeyData.length` and `publicKeyData.algorithm` are not working correctly?

Sorry, I don't know, because I haven't read ASN.1 RFC yet. In the previous example, I see

`Exponent: 65535 (0x1001)` missing.

In the example I provided in this comment, I see
[code]
missing.  Is this what you referred to as ` mis

[2020-02-24 20:17] Ephenodrom commented on #12
@certaintls
I added a small fix that will calculate the length right. I also added a new field called sha256Thumbprint that represents the following lines of code from your stackoverflow example :

[code]

So pleases update to 2.5.2 and give some feedback.

Regards

[2020-02-25 06:28] certaintls commented on #12
I was confused. But, now understand where the `sha256Thumbprint` comes from. I tested 2.5.2, it works. Thanks again!

[2020-02-25 06:28] #12 closed

[2020-03-07 16:06] certaintls opened #13 "Add cert sha256Thumbprint support"
We have sha256Thumbprint support on SPKI field in #12 , but we don't have sha256Thumbprint on the whole cert. Browsers use sha256Thumbprint of the whole cert, e.g. Apple lists the sha256 fingerprints here https://support.apple.com/en-us/HT210770

On the other hand, I see sha1Thumbprint is available on the whole cert, but the format isn't same as browser display, see screenshot below:

![image](htt

[2020-03-08 16:42] certaintls commented on #13
But, Microsoft doesn't use spaces in fingerprint https://ccadb-public.secure.force.com/microsoft/IncludedCACertificateReportForMSFT hmmm...

[2020-03-10 09:10] Ephenodrom commented on #13
Hello @certaintls
The spaces are only for readability and have no other effect. I added the sha256 thumbprint to the X509CertificateData model.

If you want to to display the thumbprint with spaces you can use the StringUtils :

[code]

Please update to version 2.5.3 and confirm if this issue is fixed :).

Regards

[2020-03-12 09:12] Ephenodrom commented on #13
No response so far. Will close the issue.

[2020-03-12 09:12] #13 closed

[2020-03-14 09:22] certaintls commented on #13
Just had a chance to verify; it is working. Thanks again!

[2020-06-06 20:06] Ephenodrom opened #14 "Add Cloudflare DNS Api to the DnsUtils"

[2020-06-13 20:36] #14 closed

[2020-06-28 01:08] kismet- opened #15 "Support EC CSR"
Currently only RSA CSR generation is supported. RSA is deprecated for CSR. How can we add support for EC csr??

[2020-06-28 16:16] Ephenodrom commented on #15
Hello and thanks for the feature request. I will try to add the functionality to generate ECC CSR with the X509Utils class.

[2020-06-29 11:33] certaintls opened #16 "Organizational Unit number is wrong"
This line https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/lib/src/X509Utils.dart#L50 defines it as `2.5.6.5`, but when you print `data.toJson().toString()`, the OU is `2.5.4.11`, which is confirmed by a simple search https://books.google.com/books?id=kEXIBAAAQBAJ&pg=PA25&lpg=PA25&dq=2.5.4.11+organizational+unit++certificate&source=bl&ots=YRgJH0Vgp0&sig=ACfU3U10ooyCzrVNQ5GSmSqrxWfe6jqlBA

[2020-06-30 18:08] Ephenodrom commented on #16
Hello @certaintls and thanks for the issue.

The number 2.5.6.5 refers to the **organizationUnit** Class as described here https://oidref.com/2.5.6.5. What you mean is the organizationalUnitName that has the ObjectIdentifierNumber 2.5.4.11.

In an CSR or certificate the distinguished names ( DN ) offen contain the short version like "ou" that has the number 2.5.4.11. Thats why you receive this num

[2020-07-01 01:26] certaintls commented on #16
I see. Thanks for the information. Maybe I was using it wrong;

To access `ou`, we need to do `data.subject['2.5.4.11']`, but for seasonal developers who can't remember these numbers, I was trying to access it like `data.subject[X509Utils.DN['organizationalUnit']]`, but this doesn't work.

Do you have a suggestion on how to access each field by using a human readable name?

[2020-07-01 08:17] Ephenodrom commented on #16
Try this :

[code]

As you can see on https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/lib/src/X509Utils.dart#L35.

[2020-07-01 12:36] certaintls commented on #16
I see it now. Thanks. Shall I close this issue or you are still interested in making some improvement?

[2020-07-01 20:04] Ephenodrom commented on #16
Let's keep this open, i will make some improvements to the DN map.

[2020-07-03 18:18] Ephenodrom commented on #15
- Converting a ECPublicKey to PEM String
- Convertimg a ECPrivateKey to PEM String
- Generating EC CSR as PEM String

[2020-07-07 08:04] Ephenodrom commented on #15
@kismet-
Please update to 2.5.5 and use the following methods :

[code]

[2020-07-07 08:04] #15 closed

[2020-07-07 08:05] Ephenodrom commented on #16
I updated the DN list and added the following data :

[code]

[2020-07-07 08:05] #16 closed

[2020-07-17 01:07] FickleLife opened #17 "Capitalize each word"
Thanks for the useful plugin!

Browsing the docs, I can see `capitalize` that does `the quick lazy fox -> The quick lazy fox`, but is there a function that does `the quick lazy fox -> The Quick Lazy Fox` ?

[2020-07-17 14:24] Ephenodrom commented on #17
Please update to version 2.5.6.

I improved the capitalize method and added the **allWords** parameter. If you set this to **true** it will capitalize all words of a string. See the description of the method for more information and take a look at this example :

[code]

Feel free to suggest more features!

[2020-07-17 14:24] #17 closed

[2020-07-27 04:08] hongfeiyang opened #18 "Support for PKCS#1 format keys"
Is there any support for PKCS#1 format keys in the future? I see the current implementation only supports PKCS#8 format keys, it would be a great addition to the existing functionalities in the package.

[2020-07-27 07:39] Ephenodrom commented on #18
Hello and thanks for the feature request.

Can you describe what do you want to achieve ? As I understand it, you want to encode / decode RSA private and public keys to and from PKCS#1 format ?

Is this correct ?

[2020-07-27 07:44] hongfeiyang commented on #18
Yes that's correct. I have read through how the package form RSA keys from pkcs8 Pem string and convert RSA keys to pkcs8 pem string, and I used some of your source code to achieve PKCS1 formatting, however it would be good if this function is included in the package

[2020-07-27 17:35] Ephenodrom commented on #18
Yes this sounds like a good idea. I will try to implement this maybe next week. If you already have some working code,feel free to create a pull request :).

[2020-08-01 12:13] WilliamCunhaCardoso opened #19 "Create Widgets Utils"
There are some Widgets utils that I would like to propose. I'll make a PR for it

[2020-08-01 12:43] Ephenodrom commented on #19
Hello and thank you for the issue. Can please explan how your widget utila work? Consider that this package has to run on pure Dart and therefore is not allowed to rely on Flutter.

Regards

[2020-08-01 12:58] WilliamCunhaCardoso commented on #19
Hello.

So unfortunately I believe my PR will not be useful as it aims give usability to Widgets.

They are extensions to simplify some shortcuts. For example:

Container().marginOnly(top: 16)

Container().visibility(true)

Container().flexible()

[2020-08-01 12:59] WilliamCunhaCardoso commented on #19
This is the PR:

https://github.com/Ephenodrom/Dart-Basic-Utils/pull/20

If it is not okay, you can close it

[2020-08-03 07:46] Ephenodrom commented on #19
Hello @WilliamCunhaCardoso

I closed the PR due to the codechanges don't fit in this package. As I said this package should work without relying on Flutter, so you can use it in every kind of project, from Flutte APP to HTTP Rest Server.

Feel free to contribute other code, extend the existing classes or recommend this package to other Flutter/Dart developer.

Regards

[2020-08-03 07:46] #19 closed

[2020-08-07 08:27] Ephenodrom commented on #18
@hongfeiyang
One step is done, please update to 2.6.1 to use the following methods from the CryptoUtils class:

[code]

The next step is to create a RSAPrivateKey and RSAPublicKey from a given PEM string.

[2020-08-07 09:39] hongfeiyang commented on #18
@Ephenodrom Thanks :)

[2020-08-07 09:45] hongfeiyang commented on #18
I would like to share with you the code I used to convert RSA keys to PKCS1 strings back and forth, I don't know how are going you going to change the underlying structure so I did not create a pull request, but I hope this could be helpful

[code]

[2020-08-11 08:50] Ephenodrom commented on #18
@hongfeiyang
Please update to version 2.6.2.

These are all methods from the CryptoUtils class that should cover your feature request. Thanks for the code, i used some of that and added unit tests.
[code]

[2020-08-11 08:50] #18 closed

[2020-08-17 20:20] CyberDepot opened #21 "help to decode generateRsaCsrPem with x509CertificateFromPem"
hi
i see issues but i cant find answer
i use X509Utils version ^2.6.2

i need to generate a certificate and keep public key on the certificate for shate to other
i want to use certificate for sign, verifiy sign and key exchange
i wnat to give the certificate to customers (certificate with public key) i want to generate a qr code for sharing certificate
then when i sign a string and send for them,

[2020-08-18 07:58] Ephenodrom commented on #21
Hello @CyberDepot

This package is not for GENERATING X509 certificates. This package only helps you doing the following things :

- Generating RSA / ECC private and public keys
- Generating CSR using a RSA or ECC key pairs
- Decoding X509 certificates given as a PEM string

So for me it looks like you want to create a self signed certificate, is this right ?

[2020-10-04 01:12] awhitford opened #25 "Many statics should be const"
Consider the following code:
[code]

It should be _illegal_ to override the `DateUtils.daysOfWeek`.  If this was declared as a `const`, the code would fail to compile (as it should).

[2020-10-04 01:21] awhitford opened #26 "Is February missing?"
https://github.com/Ephenodrom/Dart-Basic-Utils/blob/3b53270fc71b9d94386a0a5d7240c4a59b80665e/lib/src/DateUtils.dart#L133-L139

Is February missing?

[2020-10-04 01:29] awhitford commented on #26
Also, these _if_ statements are mutually exclusive, so an _else if_ is more appropriate.

[2020-10-04 02:03] cconstab opened #28 "X509Utils crash when cert has no CN but a SAN"
I am checking certificates to see if the SAN/CN matches what I am expecting and everything works just fine until I started using certificates from BUYPASS.COM.

I use the same code with a LetsEncrypt and or a ZeroSSL cert and everything works as expected, I guess because they both include a CN/Subject.. Interestingly everything work fine also with a cert with a CN/Subject and SAN.. Example cert fo

[2020-10-04 02:56] awhitford opened #29 "hexToInt and intToHex"
# hexToInt

https://github.com/Ephenodrom/Dart-Basic-Utils/blob/3b53270fc71b9d94386a0a5d7240c4a59b80665e/lib/src/ColorUtils.dart#L13-L26

What do you think should happen with these test cases?

[code]

The last one fails -- it returns 0xFF4 instead of 0xFF000004.

The code seems to be unclear about its assumptions.  If a Hex Color Code should always be 6 or 8 characters, then the function should e

[2020-10-04 11:29] Ephenodrom commented on #28
@cconstab

I checked the parsing method with a lot of different PEMs from different CAs like DigiCert, Sectigo and GlobalSign. But I never had a Certificate without a common name. I will update the method next week, so it will be able to parse X509 without subject data and will therefore take the common name out of the SAN list.

I will let you know when this is done.

Regards

[2020-10-04 11:33] #25 closed

[2020-10-04 11:33] #26 closed

[2020-10-04 11:36] Ephenodrom commented on #25
@awhitford Hello and thanks for the improvements. The DateUtils class was more like a challenge to write the date parsing within a few hours, due to a request on gitter to implement such a feature. So far I have not developed an app where this can be used, so I think there is still a lot of space for improvements.

Regards

[2020-10-04 11:37] Ephenodrom commented on #26
@awhitford
Thanks again for the PR :).

[2020-10-04 21:49] awhitford opened #31 "pointycastle upgrade and asn1lib migration"
It caught my eye that `pubspec.yaml` still referenced old dependencies:
[code]
Even more fascinating is that `pointycastle: ^2.0.0` _includes_ an `asn1` implementation, so the `asn1lib` dependency could be dropped/replaced -- but I know you know this @Ephenodrom.

For fun, I tried to _upgrade_ this package, but I ran into 3 roadblocks that I cannot seem to overcome.  It appears that _pointycastle'

[2020-10-05 05:55] Ephenodrom commented on #31
@awhitford The migration to the new Pointycastle version is already done on my local PC. I am using the latest RC2 version available on pub.dev. I am just waiting for the final release of 2.0.0.

It took me only 30 minutes to rewrite the code. The new asn1lib from pointycastle has a bit easier structure, that's why i had to change some code.

All unit tests are working fine.

So stay tuned for the

[2020-10-05 09:43] awhitford commented on #31
@Ephenodrom That sounds great.  I'm patient.  😄

[2020-10-07 00:24] slavap opened #32 "Upgrade dependency to json_annotation"
Because basic_utils 2.6.3 depends on json_annotation >=2.0.0 <=3.0.1 and no versions of basic_utils match >2.6.3 <3.0.0, basic_utils ^2.6.3 requires json_annotation >=2.0.0 <=3.0.1.

Current version of json_annotation is 3.1.0

[2020-10-07 12:03] Ephenodrom commented on #32
@slavap I updated json_annotation and json_serializable to the latest version on pub.dev. This will be shipped with the next release on pub.dev.

Regards

[2020-10-07 12:03] #32 closed

[2020-10-09 20:37] Ephenodrom commented on #29
@awhitford
The PR is closed and every unit test looks good. Your improvements a legit and I think we can use it like this. Will release a new version with this and the other fixes next week.

[2020-10-09 20:37] #29 closed

[2020-10-09 20:37] Ephenodrom commented on #28
@cconstab
Busy week, will take a look at this next week.

Regards

[2020-10-10 01:43] cconstab commented on #28
Busy here too! Thanks so much.. Colin

[2020-10-14 15:11] Ephenodrom commented on #28
@cconstab Release 2.7.0-rc.1 is out now. Please check if this works now.

[2020-10-14 15:13] Ephenodrom commented on #31
@awhitford  Release 2.7.0-rc.1 is out now. Please try it out. Feel free to report any problems. I will create another release candidate if the "NPE" bug in the PointyCastle ASN1 Lib is fixed by me.

Regards

[2020-10-14 16:50] cconstab commented on #28
Thanks I will check and let you know!

[2020-10-16 03:48] cconstab commented on #28
Works Perfectly THANK YOU from all of our dev team!

Server viewpoint
Connected from:
SAN: [test.lab.shaduf.com]
CN: null

[2020-10-16 03:48] #28 closed

[2020-10-16 07:31] Ephenodrom commented on #28
@cconstab Nice too hear. Feel free to create a issue for feature requests if you have some nice ideas on how to improve this package.

[2020-12-08 01:07] slavap opened #33 "Upgrade json_annotation dependency to 3.1.1"

[2020-12-10 10:23] Ephenodrom commented on #33
The dependency is updated within the version 2.7.0-rc.4.

[2020-12-10 10:23] #33 closed

[2021-01-16 21:19] Ephenodrom commented on #31
This is now fixed with the version ^2.7.0-rc.5, due to it includes Pointycastle 2.0.1.

[2021-01-16 21:19] #31 closed

[2021-01-29 16:30] enyo opened #34 "Add null safety support"
Since a few packages depend on this package, it would be great if this could be adopted to null safety.

[2021-02-02 15:31] Ephenodrom commented on #34
Hello and thank you for the issue. Null Safety is on the roadmap but I have to wait for all other packages that I use to update. If this is done, I will check out Null Safety and try to implement it.

But this will still take some time!

[2021-02-02 15:39] enyo commented on #34
Thanks!

I think that actually all your dependencies are already migrated. For `pointycastle` there is a PR that you can use: https://github.com/bcgit/pc-dart/pull/77

The reason they didn't release it, is that they might do some improvement to the API, but in general you can use it as a starting point.

All other libraries are already released as `nullsafety-*`.

[2021-02-02 15:53] Ephenodrom commented on #34
I will keep this issue updated, when i make some progress in migrating to null safetey.
Regards

[2021-02-03 05:59] AKushWarrior commented on #34
The PR is actually done and ready for release with all tests passing; that will be the exact version that is published, I believe. So it should be fine for you to temporarily add that as a git dependency in pubspec.yaml (and then change it later when the official version comes out).

[2021-02-09 13:08] Ephenodrom opened #35 "Basic Utils real life usage examples"
As far as I can see, this package seems to be used quite often. If you use this package in one of your projects, feel free to mention the project in this issue. If we get a nice list of real life usage examples, I will create a list and display it on this repository ( README and/or seperate file ).

Some Infos that would be nice to have :
* Projekt name
* Link ( to Github / App store / website )
*

[2021-02-20 07:45] Anas35 commented on #34
Hello, @Ephenodrom  I would happy to make a PR for null safety if there is no WIP. All the packages including `pointycastle` which this project depends have the null-safety version.

[2021-02-20 10:47] Ephenodrom commented on #34
@Anas35 Feel free to take over this part, as i am currently really busy. I had no time so far to take a deeper look into null safety.

Please create a PR and i will check it out. When everything is done, i will update the package on pub.dev immediately

[2021-02-23 16:07] Ephenodrom commented on #34
@enyo @Anas35
The preview version **3.0.0-nullsafety.0** is now available via pub.dev. Please try it out and give some feedback.
https://pub.dev/packages/basic_utils/versions/3.0.0-nullsafety.0

All thanks go to @Anas35 for the PR to enable null safety!

[2021-03-05 06:26] MedwinCorreo opened #37 "Error: The argument type 'String' can't be assigned to the parameter type 'Uri'."
![image](https://user-images.githubusercontent.com/16618565/110075888-83988080-7dbe-11eb-8cfd-5bb9e3dc0448.png)

/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/basic_utils-2.7.1/lib/src/HttpUtils.dart:24:37: Error: The argument type 'String' can't be assigned to the parameter type 'Uri'.
 - 'Uri' is from 'dart:core'.
    var response = await client.get(finalUrl, headers: headers);

[2021-03-22 15:03] Ephenodrom commented on #34
@enyo @Anas35
Any problems so far using the null safety version ?

[2021-03-31 20:11] azim92 opened #39 "ECDSA Sign/Verifier"
Hi, was testing out your library since one of it's dependency is [PointyCastle](https://pub.dev/packages/pointycastle).
Just would like to know if there is an ECDSA Sign/Verifier included in your [CryptoUtils](https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/lib/src/CryptoUtils.dart), or in another dart file?

[2021-04-06 14:11] Ephenodrom commented on #39
@azim92
As far as i remember, the ECDSA Signing was not yet available when implementing the CryptoUtils. I will take a look on the current stage of the Pointycastle project and check if this is still true or not.

[2021-04-07 02:29] azim92 commented on #39
@Ephenodrom

Thank you for your response. If you don't mind, could you have a look at my ECDSA verify/signer with SHA256?
I'm not a knowledgeable individual for crypto related, so would like to inquire for ECDSA signer, which one is the standardize for generating an ECDSA signature? A Probabilistic Signature (Non-Static Signature) or Deterministic Signature (Static Signature)?

Static here indicat

[2021-04-08 07:54] Ephenodrom commented on #39
@azim92
Please upgrade to version 3.0.0 and you will find two new methods for EC Sign and EC Verify. Please try it out and give some feedback.

PS: The documented list of supported algorithm is not complete, I will have to check again which algorithm are supported and update the list with the next release.

[2021-04-08 09:20] Ephenodrom commented on #37
Already fixed with the latest version.

[2021-04-08 09:20] #37 closed

[2021-04-08 09:21] Ephenodrom commented on #34
Published stable version 3.0.0 on pub.dev.

[2021-04-08 09:21] #34 closed

[2021-04-08 10:13] azim92 commented on #39
Result of my testing:
![image](https://user-images.githubusercontent.com/30527495/114009496-c655e880-9895-11eb-8360-be9f1fc73ffd.png)

Not too sure what happens with SHA-3/ECDSA and SHA-3/DET-ECDSA.

Your EC Sign will support only probabilistic signature I assume?

[2021-04-08 11:23] Ephenodrom commented on #39
This seems to be more a problem of "Pointycastle". It seems the package does not support SHA-3/ECDSA and SHA-3/DET-ECDSA.

I would recommend to open an issue here : https://github.com/bcgit/pc-dart

Then this is possible I just have to update the pointycastle version.

[2021-04-08 11:25] Ephenodrom commented on #39
The code documentation has now all working algorithm documented.

[2021-04-08 11:25] #39 closed

[2021-04-10 08:57] GrahamDi opened #40 "'State' name conflict."
In the last couple of days I have started seeing this error message appear in my IDE against Stateful widgets into which I import the basic_utils package. This is without having changed any dependencies:

This is not a serious issue as the simple workaround is to change the import statement from
`import 'package:basic_utils/basic_utils.dart';`
to eg.
`import 'package:basic_utils/basic_utils.dart'

[2021-04-10 11:42] Ephenodrom commented on #40
Hello and thank you for opening the issue.

I think this is due to the fact that I export the whole Pointycatle package with version 3.0.1. So there should be 2 possible solutions:

1) Hide the import with : import 'package:basic_utils/basic_utils.dart' hide State;
2) Try out the latest commit. https://github.com/Ephenodrom/Dart-Basic-Utils/commit/b3c9d8723e5952389f0050504b19e7733c497ef9

I cut do

[2021-04-10 15:31] GrahamDi commented on #40
Hi,

Thanks for your prompt response.

Have to confess that I am not quite sure how to test your latest commit in
my code...how do I create the dependency in pubspec.yaml?

I have also learnt something with the 'hide' qualifier....very useful,
thank you.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<h

[2021-04-12 09:16] GrahamDi commented on #40
Hi,
I have used your commit as the dependency with the following changes to my pubspec.yaml (I trust it is correct):
[code]

and that appears to have cured the State name conflict issue. I guess you can update your package.

Many thanks for prompt response.

Krgrds, Graham.

[2021-04-13 17:29] Ephenodrom commented on #40
@GrahamDi
Sorry for the late response. Yes you have configured your pubspec.yaml file correctly.

I published a new version (3.0.2) on pub.dev that contains this commit.

So therefore i will close this issue.

[2021-04-13 17:29] #40 closed

[2021-05-03 09:32] certaintls opened #44 "Pointycastle introduced in 2.7.0 threw exception on some certs"
Before 2.7.0, these lines work:

[code]

[code]
After 2.7.0 (e.g. 2.7.1), `X509CertificateData data = X509Utils.x509CertificateFromPem(encoded);` will throw exception:

[code]

Is there anything that the application should do when upgrading to the newer versions?

[2021-05-28 04:56] raygray opened #45 "camelCaseToLowerUnderscore doubles underscores"
If a string contains an underscore, camelCaseToLowerUnderscore duplicates it. Like:

camelCaseToLowerUnderscore ('a_b') => 'a__b'

[2021-06-28 08:20] Ephenodrom commented on #45
Hello and sorry for the delay, this is fixed with version 3.3.0.

[2021-06-28 08:20] #45 closed

[2021-07-04 18:07] Ephenodrom commented on #44
Hello @certaintls,
Sorry for the delay but I was finally able to fix this issue. The problem was a bug in the pointycastle package. The start position of the value bytes was not calculated in the correct way. The problem only appeard on a few certificates where the length of the value start position description was exactly 127 byte long.

Please use the latest version on pub dev 3.3.3.

[2021-07-04 18:07] #44 closed

[2021-07-05 15:39] gbloggs opened #46 "Fails to build for web"
The pointycastle dependency

pointycastle: ^3.1.3

is causing the build for web to fail.

see:

https://github.com/bcgit/pc-dart/issues/112

Please either revert to 3.1.1 or update to 3.2.0 once it is released.

***UPDATE***

As a work around, I found pointycastle 3.1.2 compiled to web, so pegging the version in the pubspec worked:
[code]

[2021-07-05 16:59] Ephenodrom commented on #46
Hello @gbloggs

I would recommend to go back to basic_utils: 3.3.2 as this version use pointycastle: ^3.1.2

I will update this package as soon as the new pointycastle version is available.

[2021-07-30 12:29] Ephenodrom commented on #46
@gbloggs Should be fixed now. A new version 3.4.0 is now available on pub.dev including the latest pointycastle release.

[2021-07-30 12:29] #46 closed

[2021-08-03 15:16] dev-zl commented on #35
this is very good  utils , nice nice nice

[2021-08-06 11:44] certaintls commented on #44
Thank you very much!

[2021-08-13 14:02] freakmaxi opened #47 "String Capitalize Problem"
Hello guys,

Thank you for this helpful Utils. There is a bug in capitalize operation in StringUtils.

It is unable to capitalize the sentence with space at the beginning or at the end and throwing exception. The source code is

`static String capitalize(String s, {bool allWords = false}) {
    if (allWords) {
      var words = s.split(' ');
      var capitalized = [];
      for (var w in words) {

[2021-08-17 07:14] Ephenodrom commented on #47
Hello @freakmaxi

Thank you for the issue, a commit is already done by me. I am currently waiting for a new version of the pointycastle package. If this is available, I will upload a new version to pub.dev of this package. I keep you informed.

[2021-08-24 09:13] java-crypto opened #48 "Missing import for EC private keys in PKCS#8 encoding"
Thanks for your very helpful library that I could use many times in my Cross platform cryptography project that is supporting a lot of frameworks (Java, PHP, C#, JavaScript, NodeJs, Golang, Python and Dart).

When trying to run a compatible Dart version of an **ECDSA signature** using the curve PRIME256V1 and SHA-256 hashing I encountered the problem that your import function ("CryptoUtils.ecPriva

[2021-08-24 13:01] Ephenodrom commented on #48
Hello and thank you for the issue! The SEC1 seems to have another structure according to the RFC https://datatracker.ietf.org/doc/html/rfc5915

[code]
I oriented myself on the structure that is used by openssl. I will update the parsing method to support both structures. I keep you updated.

[2021-09-06 19:08] acorn371 opened #49 "CryptoUtils.rsaPrivateKeyExponentToBytes missing ?"
Hi,
I need to store a private-key as a byte array (modulus and exponent).
I can save modulus by `CryptoUtils.rsaPrivateKeyModulusToBytes `but no `CryptoUtils.rsaPrivateKeyExponentToBytes `is found.

Is `CryptoUtils.rsaPrivateKeyExponentToBytes`  missing ? And the ....FromBytes related functions ?
How can I save private-key exponent along with private-key modulus to have the whole key stored and th

[2021-09-07 20:07] Ephenodrom commented on #49
Hello and thank you for the issue. Yes it is correct that the method is missing.

There are 3 ways for your now:
- Save the key as PEM.
- Implent the method in your own and create a PR.
- Wait till i got some time to do it.

I would suggest number one!

Regards

[2021-09-10 16:36] Ephenodrom commented on #49
Should bei now available in pub.dev as version 3.6.0.

[2021-09-10 16:36] #49 closed

[2021-09-22 16:36] Sotatek-DatThai opened #50 "How to get ecKeyPair from Bytes?"
Hi! How can i get ec keypair from bytes because i can't find a method like `ecKeyPairToBytes`

[2021-09-25 12:41] acorn371 commented on #49
Thanks,
I'm going to follow Your suggestion!

Marco

[2021-09-25 19:41] Ephenodrom commented on #50
Hello and thank you for the issue.

What do you want to achieve? I can't think of a scenario where the pair is saved as bytes. Normally you store the private and public key seperately as PEM?

[2021-09-26 02:20] #50 closed

[2021-10-26 07:34] gmpassos opened #52 "CSR attribute EMAIL is missing."
https://github.com/Ephenodrom/Dart-Basic-Utils/blob/ab6efdf73baecef4cb07d6f4b26d31d53a70e5d7/lib/src/X509Utils.dart#L613

Attribute `EMAIL` is a valid one:
https://en.wikipedia.org/wiki/Certificate_signing_request

[2021-10-26 08:18] TMSantos opened #53 "CSR attribute 'UID' is missing."
Hi, would be possible to add UID attribute?

https://www.rfc-editor.org/rfc/rfc4519#section-2.39

[2021-10-26 09:46] #53 closed, assigned to nobody

[2021-10-27 09:35] TMSantos opened #54 "CSR - SAN adds "DNS" for no reason?"
Hi,

when adding email to SAN attributes, ex:

        keyPair.privateKey as ECPrivateKey, keyPair.publicKey as ECPublicKey,
        san: List.of(
            ["email:tiago.santos@********"]));

It seems to add "DNS before", see screenshot below
![Screenshot 2021-10-27 at 10 34 14](https://user-images.githubusercontent.com/5798822/139040088-d8cce58e-7915-47dd-aa5d-e232eb53bbde.png)

Do you know wh

[2021-10-29 07:19] #54 closed, assigned to nobody

[2021-10-29 17:19] Ephenodrom opened #55 "Generate selfsigned certificate"
It should be possible to generate a self signed certificate using a private key ( RSA/ECC ) and a corresponding CSR.

[2021-10-29 17:52] #52 closed, assigned to nobody

[2021-10-29 18:11] Ephenodrom commented on #55
- id-kp-serverAuth = 1.3.6.1.5.5.7.3.1
- id-kp-clientAuth = 1.3.6.1.5.5.7.3.2
- id-kp-codeSigning = 1.3.6.1.5.5.7.3.3
- id-kp-emailProtection = 1.3.6.1.5.5.7.3.4
- id-kp-timeStamping = 1.3.6.1.5.5.7.3.8
- id-kp-OCSPSigning = 1.3.6.1.5.5.7.3.9

[2021-10-29 21:09] gmpassos commented on #55
Add package `coverage` to generate coverage reports.

You can see `shelf_letsencrypt` project as reference:
- https://github.com/gmpassos/shelf_letsencrypt/blob/master/pubspec.yaml
- https://github.com/gmpassos/shelf_letsencrypt/blob/master/run_coverage.sh
- https://github.com/gmpassos/shelf_letsencrypt/blob/master/.github/workflows/dart.yml

[2021-11-02 21:44] Ephenodrom commented on #55
@gmpassos Please checkout version 3.8.0 that contains a method to generate a self signed certificate. I testet it with PLESK and it worked fine.

[2021-11-02 21:44] #55 closed

[2021-11-30 11:30] TMSantos opened #57 "ECSignature - base64 string"
Hi, I can't find any example, is it possible to explain how to convert ECSignature to base64 signature?

`ECSignature ecSign(ECPrivateKey privateKey, Uint8List dataToSign, {String algorithmName = 'SHA-1/ECDSA'});`

[2021-12-10 23:23] FlutterCrypto commented on #57
It takes you through some conversions to get a base64 signature in **IEEE P1363 encoding**. This encoding means that the two parts of the signature (R and S value, each 32 bytes long) are concatenated to a 64 byte long value.

Kindly keep in mind that this encoding is **not compatible** to the second encoding type, the **DER encoded** signature.

Below you find a full running example from my cross

[2021-12-13 10:13] RicardoRB opened #58 "Error: 'Padding' is imported from both 'package:pointycastle/api.dart' and 'package:flutter/src/widgets/basic.dart'."
Using version **3.9.2** throw this error because of the new dependency with pointycastle. I had to downgrade the version to **3.9.1** and it works fine.

[code]

[2021-12-13 11:11] Ephenodrom commented on #58
I relaesed a new version 3.9.3 that hides the padding from the pointycastle export. That is much easier as hiding the "Padding" on each basic_utils import.

[2021-12-13 11:11] #58 closed

[2022-01-19 11:42] psycura opened #61 "'ASN1Sequence' is not a subtype of type 'ASN1Integer' in type cast"
Hello, and thank you for this library.

I have an issue with extracting RSA Public ket from the RSA Certificate.
The given Certificate:
[code]

And when i try to call:
`CryptoUtils.rsaPublicKeyFromPem(cert)`

I receive an error:
`'ASN1Sequence' is not a subtype of type 'ASN1Integer' in type cast`
What can be the reason?

[2022-01-23 15:44] Ephenodrom commented on #61
I will take a look at this next week if possible. Do you have some more background information on the certificate ? Is this a self signed one and if "yes", how was it generated.

Regards

[2022-01-23 15:56] psycura commented on #61
I think, i found the root of issue - its my misunderstood of what this method should do `rsaPublicKeyFromPem `
I was sure that this method can extract public key from any valid pem file.
But as i found out - he can convert pem file of public key to the RsaPublicKey object.
So this issue can be closed

[2022-01-23 15:56] #61 closed

[2022-02-07 15:34] dzen1984 opened #64 "The getter 'name' isn't defined for the class 'Enum'."
Cannot build empty flutter project with dependency **basic_utils: ^4.0.1**

The source code from EnumUtils:
[code]

Indeed, the class Enum does not contain the field "name".
 Source code for Enum:
[code]

Have I missed some things?

[2022-02-09 19:37] RicardoRB commented on #64
Hey @dzen1984 the problem is you dart SDK version, in the version 2.15.0 was added "name" to Enum.

Upgrading your dart SDK must fix the error, more info here: https://dart.dev/get-dart#install

The problem is in the "pubspec.yaml" the required SDK is:

[code]

and it should be:

[code]

More info: https://github.com/dart-lang/sdk/blob/main/CHANGELOG.md#dartcore-2

[2022-02-09 20:58] #64 closed

[2022-03-11 21:55] phpcoinn opened #67 "Invalid pem generated for ECDSA pair"
Hi, I am using your lib to implement crypto functions in my project, ECDSA key pair for secp256k1 curve.
[code]
But generated pem string is not correct, when I try to import it with php or nodejs code.

I checked code and found this part confusing:

https://github.com/Ephenodrom/Dart-Basic-Utils/blob/dcb0dcd12235d6e4fdeef7dfcfbd1fc34379fb23/lib/src/CryptoUtils.dart#L591

I think this is wrong beca

[2022-03-16 14:22] Ephenodrom commented on #67
The ASN1 structure generated by "CryptoUtils.encodeEcPrivateKeyToPem()" looks good so far, compared to a private key generated with OpenSSL. I also tried to generate a CSR using the the generated EC private and public key. It works fine and the CSR was also accepted by the CA DigiCert. Due to the fact that they currently only support "prime256v1", I used this curve.

I would suggest :

* Try prime

[2022-05-29 14:11] kabaluyot commented on #57
I tried this @FlutterCrypto and it worked. Thanks much.

I created a pull request for this feature https://github.com/Ephenodrom/Dart-Basic-Utils/pull/70

[2022-06-08 22:50] kabaluyot commented on #67
Unfortunately I replicated these errors too. The package won't satisfy this online checker:
https://8gwifi.org/ecsignverify.jsp

With secp256k1 curve and SHA-256 hash algorithm. The online tool is processed in Java and it works well with JS packages

[2022-06-22 11:58] Ephenodrom commented on #67
@kabaluyot
Kann you please try it again ? The public key algorithm was hardcoded set to **prime256v1**.

[2022-06-22 12:41] kabaluyot commented on #67
Yes I already tried this but the main issue as @phpcoinn mentioned was the wrong PEM generated especially for private key for secp256k1. Using this online tool, it doesnt match https://8gwifi.org/ecsignverify.jsp or you can use node crypto for comparison. @Ephenodrom

[2022-06-22 13:31] Ephenodrom commented on #67
@kabaluyot
Please try again with https://8gwifi.org/ecsignverify.jsp and the current master branch. I changed the PEM Header for the public key and now the tool at https://8gwifi.org/ecsignverify.jsp is working for me.

The EC private/public key has the same structure as the one generated with openssl. The only difference where :

* The hardcoded algorithm prime256v1
* The wrong PEM header

[2022-06-22 17:41] Ephenodrom commented on #67
@Ephenodrom
As I sad, with the latest commit i was able to generate a EC keypair that can be used within the tool https://8gwifi.org/ecsignverify.jsp.

This included :
* Generate a signature of a message with the private key
* Verify the signature with the public key

According the ecSignatureToBase64() metod. This looks good, so please implement it and do not forget to add some unit tests. You ca

[2022-06-22 17:42] Ephenodrom commented on #67
@kabaluyot
As I sad, with the latest commit, I was able to generate a EC keypair that can be used within the tool https://8gwifi.org/ecsignverify.jsp.

This included :
* Generate a signature of a message with the private key
* Verify the signature with the public key

According the ecSignatureToBase64() metod. This looks good, so please implement it and do not forget to add some unit tests. You ca

[2022-06-22 20:35] kabaluyot commented on #67
So I tried implementing ecSignatureToBase64() with the latest master. Here are the steps I took:

1. Generate key pairs and encode to PEM (from Dart)

[code]

With the ff PEM pairs and result:
[code]

2. Copy PEM pairs to https://8gwifi.org/ecsignverify.jsp and try to verify the message and signature result. Notice that in step 1, the ECSignature verification indeed returns `true`

I always get th

[2022-06-23 07:51] Ephenodrom commented on #67
@kabaluyot
Please take a look at my commits. I found out that the signature is indeed an ASN1 structure, so I made some changees to the ecSignatureToBase64() method. I also added a ecSignatureFromBase64() method. It should work now as expected.

[2022-06-24 18:07] Ephenodrom commented on #67
@kabaluyot
I think with the current commits we can close this issue and #57. Can you confirm this ? After that you can complete your PR and then I will merge and upload a new version on pub.dev.

[2022-06-24 18:17] Ephenodrom commented on #57
This can be considered as closed as with the latest commits it is now possible to create a base64 signature following the ASN1 structure from https://datatracker.ietf.org/doc/html/rfc5480#page-17.

[2022-06-24 18:17] #57 closed

[2022-06-25 01:55] kabaluyot commented on #67
Ok will verify the commits you pushed in master

[2022-06-27 00:51] kabaluyot commented on #67
@Ephenodrom I can confirm now that the signature is verified correctly with external tool:
<img width="795" alt="Screen Shot 2022-06-27 at 8 38 23 AM" src="https://user-images.githubusercontent.com/38805756/175840718-848fcbab-9138-4dc3-8063-82bf5d5e479a.png">

[2022-06-27 01:18] kabaluyot commented on #67
For verify and example, here is the PR: https://github.com/Ephenodrom/Dart-Basic-Utils/pull/72

[2022-07-02 11:46] engaref2000 opened #73 "Tag 164 is not supported yet for X509Util in read Certificate Signing Request (CSR)"
hi every one.
I need help when I try get Certificate  from  CSR file .
the contain of csr file is :
    var x509Pem ='''-----BEGIN CERTIFICATE REQUEST-----
MIIB7TCCAZMCAQAwXzELMAkGA1UEBhMCU0ExEzARBgNVBAsMCjMxMjM0NTY3ODkx
EzARBgNVBAoMCjMxMjM0NTY3ODkxJjAkBgNVBAMMHVRTVC04ODY0MzExNDUtMzEy
MzQ1Njc4OTAwMDAzMFYwEAYHKoZIzj0CAQYFK4EEAAoDQgAEkNOiV8GaCBVDnQw2
bM1Wy6PqIRZ6t+/hxJNQxg7FAdWK0PcUiUdv5ry2SVyFSz/qY

[2022-07-03 11:56] Ephenodrom commented on #73
Hello @engaref2000
It seems that the parsing has a problem with the subject alternativ name extension. I will take a look at it next week. Can you provide some information on how the CSR was generated?

[2022-07-03 12:10] engaref2000 commented on #73
thanks Ephendrom for response.

the csr file generated  in java with this information :

csr.common.name=TST-886431145-312345678900003
csr.serial.number=1-TST|2-TST|3-ed22f1d8-e6a2-1118-9b58-d9a8f11e445f
csr.organization.identifier=312345678900003
csr.organization.unit.name=3123456789
csr.organization.name=3123456789
csr.country.name=SA
csr.invoice.type=1111
csr.location.address=TST
csr.industry.b

[2022-07-04 10:43] Ephenodrom commented on #67
This can be considered as closed and fixed with the upcoming release. The package can now generate a DER encoded valid signature.

[2022-07-04 10:43] #67 closed

[2022-07-04 10:43] Ephenodrom commented on #73
@engaref2000
Which java library was used in this case ? Maybe bouncy castle ?

[2022-07-05 15:06] engaref2000 commented on #73
yes the library bouncycastle
and the ans1 as decode is from https://lapo.it/asn1js/
SEQUENCE (3 elem)
  SEQUENCE (4 elem)
    INTEGER 0
    SEQUENCE (4 elem)
      SET (1 elem)
        SEQUENCE (2 elem)
          OBJECT IDENTIFIER 2.5.4.6 countryName (X.520 DN component)
          PrintableString SA
      SET (1 elem)
        SEQUENCE (2 elem)
          OBJECT IDENTIFIER 2.5.4.11 organizationalUni

[2022-07-14 13:16] Ephenodrom commented on #73
Waiting for https://github.com/bcgit/pc-dart/pull/164

[2022-07-19 18:51] Ephenodrom commented on #73
@engaref2000
This can be considered as closed with the new version 4.4.0 is now live on pub.dev.

[2022-07-19 18:51] #73 closed

[2022-07-22 18:54] engaref2000 commented on #73
thanks and best regard .
I will check and let you informed.

[2022-08-12 07:10] f-person commented on #35
Hey! Thanks for the package! I use the IDN converter in "Punycode Converter" ([GitHub](https://github.com/f-person/punycode_converter); [App Store](https://apps.apple.com/us/app/punycode-converter/id1637273151?itsct=apps_box_badge&itscg=30200)) :)

[2022-08-25 01:02] wilsondy opened #74 "How to request extensions in generateRsaCsrPem"
Hi.

I am trying to include codesigning extensions in my CSR using `generateRsaCsrPem`.  I've read through the code and previous issues and it isn't obvious how I would do it.

Many thanks!

[2022-08-25 05:48] Ephenodrom commented on #74
@wilsondy
Thanks for the issue, currently on the SAN extension is supported, but adding other extensions to the code should not be a big deal.

Please provide :

- Which extensions do you need
- An example CSR to compare and check the needed ASN1 structure.

[2022-09-02 13:23] tomLeclercqDD opened #75 "Suggestion adding the Pascal case"
A simple addition to support Pascal casing:

[code]

[2022-09-05 10:09] Ephenodrom commented on #75
@tomLeclercqDD
I updated the StringUtils class and added the method. Thank you!

[2022-09-05 10:09] #75 closed

[2022-09-05 13:07] tomLeclercqDD commented on #75
Amazing!
Though I realized while using it that the regEx was a bit broken.

Here is it fixed:
/// PascalCase CamelCase string
  /// Example: your name => YourName
  String? get pascalCase {
    if (isEmpty) {
      return null;
    }

    final separatedWords = split(RegExp(r'(?<!^)(?=[A-Z])'));
    var newString = '';

    for (final word in separatedWords) {
      newString += word[0].toUpperCas

[2022-09-05 20:23] Ephenodrom commented on #75
Hello @tomLeclercqDD

Are you sure the new regex is correct? As I understand the PascalCase something like "hello world" should be converted to "HelloWorld", as PascalCase is just snakeCase with the leading char in uppercase.

Using the new regex the unit test I wrote failed. Feel free to check the code and test and maybe open a small PR.

[2022-09-05 20:52] tomLeclercqDD commented on #75
Ah is it !? Then I am confused 😅
Sure! If you did the unit test all good but I had some odd results on the first run, I’ll have a look tomorrow, thanks for the feedback

If the first version passed the test then 👌

Few use case out of the blue:
helloWorld,
Hello World,
hello world,
HelloWorld,
hello-World,
Hello-World,
hello-world ,
HeLoWorld > HeLoWorld (^^)

Sent from my iPhone

On 5 Sep 2022, a

[2022-09-15 07:15] evolutionerp opened #76 "Invalid public key in parsed X509 certificates"
Hello,

After parsing the following certificate with the [x509CertificateFromPem](https://pub.dev/documentation/basic_utils/latest/basic_utils/X509Utils/x509CertificateFromPem.html) function:

[code]

In version **4.5.2** the expected public key is accessible via `.publicKeyData.bytes`:

[code]
(270 bytes, sha-256: `97c07fc52a6409f376c42bd3310aa1b7b84356249ccff6da9afcb68b8f40f3b3`)

---
However, i

[2022-09-15 07:24] Ephenodrom commented on #76
Hello @evolutionerp

I will take a look at it later! You can now stay at the older version, that should be no problem, due to the changes since that are mostly new features or you use the current version and access the deprecated field.

I keep you updated!

Regards

[2022-09-15 10:28] evolutionerp commented on #76
Also the deprecated field gets populated with the invalid key, unfortunately.

[2022-09-15 11:02] Ephenodrom commented on #76
@evolutionerp
After digging a bit in the older code from 4.4.2 I found out that the filling of the bytes value has changed with 5.0.0. The old way was not correct and with the old way it was not possible to create a public key out of the bytes value. I improved the code and made some changes to reuse some code that is similar within CSR and X509 parsing. The public key parsing of the a CSR was alr

[2022-09-15 11:02] #76 closed